/*Page Outline*/
body {background-color:#1d3030; color:white; border-left:3px solid white; border-right:3px solid white; padding: 10px;}

/*Header - All Pages*/
header {
    background:linear-gradient(darkviolet,navy); border:3px solid white; border-bottom:none; 
    text-align:center; color:white; padding:25px; padding-right:300px}
.headerimg {float:left; width:300px; height:140px}

 /*Navbar*/
.topnav {overflow:hidden; background-color:navy; border:3px solid white;}
.topnav a {
    float:left; width:125px; border-right:3px solid white; display:block; color:#f2f2f2; padding:14px 16px;
    text-align:center; font-family:geneva; font-size:1.5em; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
.topnav a:hover {background-color:#ddd; color:black;}
.topnav div {float:right; font-family:geneva; font-size:1.5em;}

/*Main Body Sections*/
article {padding:50px;}
section {padding:50px;}
p {font-size:1.5em; font-family:geneva; text-align:justify; padding-right:25px;}
.rightbodyimg1 {padding-left:50px; float:right; width:350px; height:80px; margin-top: 100px; margin-bottom:40px}
.rightbodyimg2 {padding-left:50px; float:right; width:350px; height:150px; margin-top: 70px; margin-bottom:10px}

/*Listings Table*/
.projectslist {border: solid; border-collapse: collapse; width: 100%; background-color: navy}
.sort {height: 15px; width: 15px; vertical-align: bottom}
th {border: solid; height: 40px; text-align: center; vertical-align: center;}
td {border: solid; padding: 5px; height: 40px; text-align: center; vertical-align: center;}
tr {height: 40px; opacity: 1.0;}
tr:hover {opacity: 1.0;}

.whitelist {background-color:seagreen}
.greylist {background-color:grey}
.blacklist {background-color:red}
.error {background-color:grey}

/*Footer - All Pages*/
footer {background-color:navy; border:3px solid white; text-align:center; color:white; padding: 25px;}

/*Blocks*/
.construction {text-align:center;}

/*General Images*/
img {margin: 10px;}
iframe {border:none; width:100%; height:950px;}

/*General Text & Fonts*/
h1 {font-family: tahoma; font-size:4em; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;}
h2 {font-family: tahoma; font-size:2em;}
h3 {font-family: tahoma; font-size:1.5em;}
h4 {font-family: tahoma; font-size:1em;}
h5 {font-family: tahoma; font-size:1em;}
h6 {font-family: tahoma; font-size:1em;}
a:link {color:deepskyblue;}
a:visited {color:lightblue;}
a:hover {color:hotpink;}
a:active {color:blue;}
li {font-size:1.5em; font-family:geneva;}