/*General*/
body {background-color:#414141; color:white}
* {box-sizing: border-box;}
.col-1 {width: 8.33%; float: left; padding: 10px;}
.col-2 {width: 16.66%; float: left; padding: 10px;}
.col-3 {width: 25%; float: left; padding: 10px;}
.col-4 {width: 33.33%; float: left; padding: 10px;}
.col-5 {width: 41.66%; float: left; padding: 10px;}
.col-6 {width: 50%; float: left; padding: 10px;}
.col-7 {width: 58.33%; float: left; padding: 10px;}
.col-8 {width: 66.66%; float: left; padding: 10px;}
.col-9 {width: 75%; float: left; padding: 10px;}
.col-10 {width: 83.33%; float: left; padding: 10px;}
.col-11 {width: 91.66%; float: left; padding: 10px;}
.col-12 {width: 100%; float: left; padding: 10px;}
.row::after {content: ""; clear: both; display: table;}

/*Header - All Pages*/
header {
    background:linear-gradient(#6800CB,#2A0051);
    border:3px solid white;
    padding:25px; padding-right:300px;
    text-align:center; color:white}
.headerimg {display:block; width:300px; height:150px; position:relative; top: 50%; left: 50%; transform: translate(-50%,0%)}

 /*Navbar - All Pages*/
topnav {background-color:#2A0051; padding:0px}
.navlink {font-family:geneva; text-align:center; vertical-align:center; font-size:1.5em; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border:3px solid white; border-right:none}
.navlink:hover {background-color:#ddd; color:black;}
.navcomment {font-family:geneva; text-align:right; font-size:1.5em; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border:3px solid white}

/*Main Body Sections*/
p {font-size:1.5em; font-family:geneva; text-align:justify}
.rightbodyimg1 {display:block; max-width:100%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,50%)}
.rightbodyimg2 {display:block; max-width:100%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,50%)}

/*Listings Table*/
.projectslist {border: solid white 3px; border-collapse: collapse; background-color: #2A0051}

.title {font-family:geneva; font-size:1em; font-weight:bold; text-align:center; vertical-align:center;
    width:100%; height:75%}
.sortcnt {width:100%; height:25%}
.sortimg {width:18px; height:20px; margin:0px}

.col-name {border: solid white 3px;
    height:100px; width:10%; padding:10px}
.col-votes {border: solid white 3px;
    height:100px; width:5%; padding:10px}
.col-credit {border: solid white 3px;
    height:100px; width:10%; padding:10px}
.col-stat {border: solid white 3px;
    height:100px; width:5%; padding:10px}
.col-list {border: solid white 3px;
    height:100px; width:10%; padding:10px}
.col-update {border: solid white 3px;
    height:100px; width:5%; padding:10px}
.col-notes {border: solid white 3px;
    height:100px; width:20%; padding:10px}


td {border: solid; padding: 5px; height: 40px; text-align: center; vertical-align: center;}
tr {height: 40px; opacity: 1.0;}
tr:hover {opacity: 1.0;}

.whitelist {background-color:darkgreen}
.greylist {background-color:#7F7F7F}
.blacklist {background-color:#F74100}
/*.error {background-color:red}*/

/*Footer - All Pages*/
footer {background-color:#2A0051; border:3px solid white; text-align:center; color:white; padding: 25px;}

/*Construction*/
.constructtxt {text-align:center;}
.constructimg {display:block; max-width:50%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,0%)}

/*General Images*/
img {margin: 10px;}
iframe {border:none; width:100%; height:950px;}

/*General Text & Fonts*/
h1 {font-family: tahoma; font-size:4em; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;}
h2 {font-family: tahoma; font-size:2em;}
h3 {font-family: tahoma; font-size:1.5em;}
h4 {font-family: tahoma; font-size:1em;}
h5 {font-family: tahoma; font-size:1em;}
h6 {font-family: tahoma; font-size:1em;}
a:link {color:deepskyblue;}
a:visited {color:lightblue;}
a:hover {color:hotpink;}
a:active {color:blue;}
li {font-size:1.5em; font-family:geneva;}

/*For Small Screens (Phones & Tablets)*/
@media only screen and (max-width: 950px) {
    [class*="col-"] {
        width: 100%;}

    .navlink {border:3px solid white}
    .navcomment {border-top:none; text-align:center}

    .rightbodyimg1 {display:block; max-width:50%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,0%)}
    .rightbodyimg2 {display:block; max-width:100%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,0%)}
    }

/*For Medium Screens (Tablet or Low Res PC)*/
@media only screen and (min-width: 950px) and (max-width: 1250px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    .navlink-s {border:3px solid white}
    .navcomment {border-top:none; text-align:center}

    .rightbodyimg1 {display:block; max-width:50%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,0%)}
    .rightbodyimg2 {display:block; max-width:100%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,0%)}


    }

/*For Medium Screens (Medium Res PC)*/
@media only screen and (min-width: 1250px) and (max-width: 1900px) {
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
    .navlink-s {border:3px solid white}
    .navcomment {border-top:none; text-align:center}

    .rightbodyimg1 {display:block; max-width:100%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,75%)}
    .rightbodyimg2 {display:block; max-width:100%; height:auto; position:relative; top: 50%; left: 50%; transform: translate(-50%,100%)}
    }
