/*Twitter*/
a.twitter-timeline {
    /*Button*/
    display: inline-block;
    padding: 6px 12px 6px 30px;
    margin: 10px 0;
    border: #ccc solid 1px;
    border-radius: 3px;
    background: #f8f8f8;
    background-size: 1em 1em;
    font: normal 12px/18px Helvetica, Arial, sans-serif;
    color: #333;
    white-space: nowrap;
}
    a.twitter-timeline:hover, a.twitter-timeline:focus {
        background-color: #dedede;
    }
    a.twitter-timeline:focus {
        outline: none;
        border-color: #0089cb;
    }

/*Coinmarket Cap*/
.coinmarketcap-currency-widget {
    overflow: hidden ;
    margin-bottom: 10px;
}

/*Do Not Track, Opt-out Frame*/
.donottrack {
    box-sizing: border-box;
    float: left;
    width: 100%;
    background-color: #414141;
    margin-bottom: 15px;
    padding: 15px;
}

/*Single Pixel Image for Analytics Tracking*/
noscript img {border: None}